<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section
      name="ensoExtensions"
      type="EnsoExtension.EnsoExtensionsSection,EnsoExtensionServer,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>

  <ensoExtensions>
    <ensoExtension type="EnsoExtension.GUIDExtension,GUIDExtension,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    <ensoExtension type="EnsoExtension.RandomExtension,RandomExtension,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    <ensoExtension type="EnsoExtension.LingvoExtension,LingvoExtension,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    <ensoExtension type="EnsoExtension.UserSessionExtension,UserSessionExtension,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    <ensoExtension type="EnsoExtension.SystemExtension,SystemExtension,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    <ensoExtension type="EnsoExtension.NetworkExtension,NetworkExtension,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </ensoExtensions>

  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="50006" bindTo="127.0.0.1">
          <serverProviders>
            <formatter type="CookComputing.XmlRpc.XmlRpcServerFormatterSinkProvider,CookComputing.XmlRpcV2"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>

  <appSettings>
    <add key="ensoUrl" value="http://127.0.0.1:11374"/>
  </appSettings>
</configuration>